page-testreview {
    .ReviewButtons {
        width: 35px;
        height: 35px;
        line-height: 150%;
        border-radius: 50%;
        color: white;
        font-size: 13px;
        font-weight: bold;
        margin-top: 5%!important;
        display: inline-block !important;
        white-space: nowrap !important;
    }
}
